*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primaryPurple: #646ff0;
  --black-1: #646681;
  --black-2: #585858;
  --bg-1: #f8f8ff;
  --bg-2: #ecedf6;
  --bg-3: #bfbfc5;
  --gray-1: #eee;
  --gray-2: #dedfe1;
  --black: black;
  --white: white;
}
html {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--primaryPurple) !important; */
  background: linear-gradient(180deg, #a6daec 0%, #ccadfa 100%);
}
/* .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
} */
/* @media screen and (max-width: 1300px) {
  .todoIcons {
    right: 4rem;
  }
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 0.75rem;
  }
  .container {
    .backPaper {
      width: 70vw;
    }
  }
  .addBtn {
    width: 16vw;
    height: 16vw;
    right: -2rem;
    bottom: -2.5rem;
    & svg {
      font-size: 4rem;
    }
  }
}
